<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script>

    // var num="aaaas";
    // function a() {
    //     var num="bbb";
    //     console.log(this.num)
    // }
    // window.a()

    function setInt(func,time) {
        func();

        setTimeout(()=>{

            setInt(func,time)
        },time)
    }

    // setInt(()=>{
    //     console.log("a")
    // },500)

    // setInterval(()=>{
    //     for (let i =0;i<200;i++){
    //         document.body.innerHTML+=`<p>${i}ggggggggg</p>`
    //     }
    //     console.log("aaaaa")
    // },500)

    function Animal(name) {
        this.name=name
    }
    Animal.prototype.run=function (){
        console.log(this.name+"动物在奔跑")
    }

    let dog=new Animal("小黄");

    // dog.run();

    console.log(dog.__proto__ === Animal.prototype);
    console.log(dog.constructor === Animal);
    console.log(dog.__proto__.constructor === Animal);


    let cat=new dog.__proto__.constructor("大橘");
    cat.run();


    function getObj() {
        return {
            name:"aaa",
            age:17
        }
    }


    let arr=[1,2,3]
    let a={}
    console.log(a.__proto__.constructor.name)

</script>
</body>
</html>